// fontface
@font-face {
    font-family: 'helveticaUltraComp';
    src: url('../fonts/HelveticaLTStd-UltraComp.otf');
}
@font-face {
    font-family: 'helvaticaBold';
    src: url('../fonts/Helvetica-Bold.ttf');
}
@font-face {
    font-family: 'helvaticaLtBold';
    src: url('../fonts/HelveticaLTStd-Bold.otf');
}
@font-face {
    font-family: 'activeRegular';
    src: url('../fonts/AktivGrotesk-Regular.otf');
}



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvaticaBold', sans-serif;
}

:root{
    --main-color: #4AB749;
    --dark: #3D3D3D;
    --gr: linear-gradient(257deg, #B98E63 3.12%, #7A3C93 98.94%);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}

.sec{
    padding: 6em 0px;
}
.main-btn{
    padding: 5px 2.5em;
    background: #B98E63;
    display: block;
    max-width: max-content;
    transition: 0.3s ease-in-out;
    
    span{
        transition: 0.3s ease-in-out;
        color: white;
        font-family: 'helveticaUltraComp', sans-serif;
        font-size: 42px;
    }

    &.purple-border{
        border: 1px solid #7A3C93;
        background: transparent;

        &:hover{
            background: #7A3C93;

            span{
                color: white;
            }
        }

        span{
            color: #7A3C93;
        }
    }
    &.center{
        margin: 0 auto;
    }
    &.left{
        margin-right: auto;
    }
    &.right{
        margin-left: auto;
    }
}

.para{
    font-family: 'activeRegular', sans-serif;
}