@media(max-width: 600px){
    .con-header{
        padding-bottom: 5em !important;
    }
    .arch-img{
        margin-bottom: 20px;
    }
    .menu-container .menu-inner{
        grid-template-columns: 1fr;
    }
    .menu-container .l-part{
        padding-left: 1.5em;
    }
    .menu-container .menu-close{
        left: unset;
        right: 1.5em;
        top: 1.7em;

        img{
            width: 35px;
        }
    }
    .fd-sec .dot-list{
        margin-bottom: 1.8em;
    }
    .soc-list{
        margin-bottom: 2.3em !important;
    }
    .fd-sec .dot-list li{
        color: white;
    }
    .h-menu .menu-con ul li a{
        padding: 8px 0px;
    }
    .dif-header.srv-page-header.style-2{
        padding-top: 8em;
    }
    .menu-container .menu-logo{
        width: 160px;
    }
    .h-menu-wrapper{
        flex-direction: column;
        justify-content: flex-start;
    }
    .h-menu{
        width: 100%;
        height: auto;
        padding: 1.5em 1.5em;
    }
    .h-menu{
        max-height: 35px;
    }
    .menu-container .l-part{
        padding-bottom: 0.5em;
        padding-top: 2em;
    }
    .h-menu.active {
        height: auto;
        max-height: 1000px;
        width: 100%;
    }
    .h-menu > span{
        transform: translate(-50%, -50%) rotate(0deg);
        font-size: 36px;
    }
    .menu-container{
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
    }
    .menu-list li a span{
        font-size: 32px;
    }
    .main-btn span{
        font-size: 32px;
    }
    .im-with-sq-border:after{
        display: none;
    }
    .im-with-sq-border{
        margin-bottom: 2em;
    }
    .dif-header::after{
        display: none;
    }
    .of-grid.style-2{
        grid-template-columns: 1fr;
    }
    .dif-header.srv-page-header .srv-header-img::before{
        display: none;
    }
    .dif-header.srv-page-header .srv-header-img{
        padding-top: 3em;
    }
    .fd-icon-list li img{
        width: 55px;
    }
    .fd-icon-list li div h3{
        font-size: 20px;
    }
    .srv-card.style-2 h3{
        text-align: center;
        font-size: 42px;
    }
    .srv-card.style-2{
        grid-template-columns: 1fr;
    }
    .fd-icon-list li div p{
        margin-bottom: 0;
    }
    .sec{
        padding: 3em 0px;
    }
    .of-grid.style-2 .of-wrap:nth-child(1), .of-grid.style-2 .of-wrap:nth-child(2){
        grid-column: span 1 !important;
    }
    .of-grid .of-wrap a{
        gap: 20px;
    }
    .dif-header .banner-con h3{
        font-size: 52px;
    }
    .main-nav.dual .menu-btn span{
        background: black !important;
    }
    .timer-counter{
        grid-template-columns: 1fr;
    }
    .dif-img{
        margin-top: 1.5em;
    }
    .abt-cta-con{
        padding: 2em 1.5em !important;
    }
    .abt-cta-img{
        transform: translateX(0px);
    }
    .con-area-list li .ic{
        min-width: 50px;

    }
    .soc-list{
        margin-bottom: 1.5em;
    }
    .con-l-area{
        margin-bottom: 2em !important;
    }
    .ft-logo{
        // margin: 0 auto;
        display: block;
    }
    .of-grid .of-wrap a{
        justify-content: center;
    }
    
    .hide-slider{
        display: none;
    }
    .ft-list{
        margin-bottom: 1.8em !important;
    }
    .soc-list{
        width: 100%;
        max-width: 100%;
        justify-content: flex-start;
        margin-bottom: 1em;
    }
    .container-left{
        padding: 0px 1.5em !important;
    }
    .of-grid{
        grid-template-columns: 1fr !important;

        >*{
            grid-column: span 1 !important;
            grid-row: span 1 !important;

            img{
                max-width: 100%;
            }
        }
    }
    .main-nav .l-part .nav-logo{
        width: 150px;
    }
    .menu-btn{
        width: 40px;
        height: 20px;
    }
    .main-nav .r-part{
        gap: 0.8em;
    }
    .counter-wrap{
        flex-wrap: nowrap;
    }
    .counter-wrap .counter p{
        font-size: 14px;
    }
    .spin-wheel-wrapper{
        display: none;
    }
    .main-header{
        padding-bottom: 3.5em;
    }
    .of-grid .of-wrap .overlay{
        padding-left: 1em;
        padding-right: 1em;
    }
}